<div class="questions">
    <div class="questions-title">
        Questions
        <div class="spacer"></div>
        <button mat-button color="primary" (click)="addQuestion(questions)">
        <mat-icon>add</mat-icon>
        <span>ADD A QUESTION</span>
        </button>
    </div>
    <mat-tab-group [selectedIndex]="activeQuestionIndex">
        <mat-tab *ngFor="let questionFormGroup of questions.controls; let i = index">
        <ng-template mat-tab-label>
            Question {{ i + 1 }} &nbsp; 
            <mat-icon color="warn" (click)="onRemoveQuestionClick(questions, i)" matTooltip="Remove question" matTooltipPosition="above">close</mat-icon>
        </ng-template>
        <div class="question-container" [formGroup]="questionFormGroup">
            <mat-form-field appearance="outline">
            <mat-label>Question</mat-label>
            <input matInput required formControlName="question"/>
            <mat-icon matSuffix>help_outline</mat-icon>
            </mat-form-field>
            <div class="answers">
            <div class="answers-wrapper">
                <div class="answer" *ngFor="let answerFormGroup of questionFormGroup.controls.answers.controls; let j = index" [formGroup]="answerFormGroup">
                <a mat-icon-button matTooltip="Remove answer" matTooltipPosition="above" (click)="onRemoveAnswerClick(questionFormGroup.controls.answers, j)">
                    <mat-icon color="warn">close</mat-icon>
                </a>
                <mat-form-field appearance="outline">
                    <mat-label>Answer {{ j + 1 }}</mat-label>
                    <input matInput required formControlName="answer"/>
                    <mat-checkbox
                    matSuffix
                    matTooltip="Correct Answer"
                    matTooltipPosition="above"
                    formControlName="isCorrect"
                    ></mat-checkbox>
                </mat-form-field>
                </div>
            </div>
            <button mat-button color="primary" (click)="addAnswer(questionFormGroup.controls.answers)">
                <mat-icon>add_outline</mat-icon>
                <span>ADD AN ANSWER</span>
            </button>
            </div>
        </div>
        </mat-tab>
    </mat-tab-group>
</div>