<div class="container">
  <form class="row" [formGroup]="rootForm" (submit)="onSubmit()">
    <div class="col-6">
      <div class="row">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Title</mat-label>
          <input matInput required formControlName="title" />
          <mat-icon matSuffix>title</mat-icon>
          <mat-error>Title is <strong>required</strong></mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            <mat-option></mat-option>
          </mat-select>
          <mat-icon matSuffix>category</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Description</mat-label>
          <textarea
            rows="10"
            matInput
            required
            formControlName="description"
          ></textarea>
          <mat-icon matSuffix>description</mat-icon>
          <mat-error>Description is <strong>required</strong></mat-error>
          <!-- Max chars 420 -->
        </mat-form-field>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Difficulty</mat-label>
          <mat-select required formControlName="difficulty">
            <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty">{{difficulty}}</mat-option>
          </mat-select>
          <mat-icon matSuffix>show_chart</mat-icon>
          <mat-error>Difficulty is <strong>required</strong></mat-error>
        </mat-form-field>
        <div class="col-12">
          <app-quiz-questions-form [questions]="rootForm.controls.questions"></app-quiz-questions-form>
          <button mat-raised-button color="primary" type="submit">
            <mat-icon>add</mat-icon>
            <span>CREATE QUIZ</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
